/* Variables */
:root {
  /* ebe79e */
  --yellow: #a5a26f;
  --bg-yellow: #f9f8e2;
  --blue: #11348d;
  --bg-blue: #e7ebf4;
  --purple: #573391;
  --bg-purple: #eeebf4;
  --gray: #b3b6bb;
  --bg-gray: #e8e8e7;
  --white: #fff;
  --black: #020202;
  --bg-black: #030a1c;
  --font-3xl: 3rem;
  --font-2xl: 2rem;
  --font-lg: 1.2rem;
  --font-md: 1.1rem;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-3xl);
}

h2 {
  font-size: var(--font-2xl);
}

label {
  font-size: var(--font-lg);
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--black);
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
}

/* Navbar */
.nav {
  background-color: var(--bg-gray);
  padding: 1rem;
  color: var(--black);
}

.nav__list {
  width: 50%;
  justify-content: space-evenly;
}

.nav__link {
  color: var(--black);
}

.nav__link:hover {
  color: var(--blue);

  font-weight: bold;
}

/* intro */
.intro {
  background: url("img/hero.jpg");
  height: calc(100vh - 51.3333px);
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.intro__desc {
  position: absolute;
  top: 50%;
  left: 2rem;
  color: var(--white);
  max-width: 50ch;
  transform: translateY(-50%);
}

.intro__title {
  font-size: var(--font-3xl);
  margin-bottom: 1rem;
}

.intro__text {
  max-width: 40ch;
}

/* Feature */
.feature {
  width: 80%;
  margin: 2rem auto;
  padding: 4rem;
}

.feature-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}

.feature__card {
  background-color: var(--bg-gray);
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-content: center;
}

.feature__card:first-child {
  background-color: var(--bg-yellow);
  color: var(--yellow);
}

.feature__card:nth-child(2) {
  background-color: var(--bg-blue);
  color: var(--blue);
}

.feature__card:last-child {
  background-color: var(--bg-purple);
  color: var(--purple);
}

.feature__card-icon {
  margin-right: 1rem;
  text-align: center;
}

/* Contact */
.contact {
  background-color: var(--bg-gray);
  padding: 2rem;
  margin: 0 auto;
}

.contact__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  width: 25rem;
  margin: auto;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-group label {
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
  padding: 0.5rem 1rem;
  font-size: var(--font-md);
}

.btn-submit {
  margin: auto;
  padding: 0.8rem 2rem;
  display: block;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.2rem;
}

/* Footer */
.footer {
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
}

.footer__item {
  margin-bottom: 2rem;
}

.footer__logo img {
  width: 100%;
}

.footer__desc {
  color: var(--gray);
  line-height: 1.5;
}

.footer-title {
  color: var(--white);
  margin-bottom: 1rem;
  border-left: 6px solid var(--yellow);
  padding-left: 0.5rem;
}

.footer__list {
  color: var(--white);
  margin-top: 2rem;
}

.footer__link {
  color: var(--white);
}

@media screen and (min-width: 760px) {
  .feature-grid {
    flex-direction: row;
  }

  .form {
    width: 35rem;
  }

  .footer {
    flex-direction: row;
    gap: 4rem;
    justify-content: space-evenly;
  }

  .footer__item {
    flex-basis: 30%;
    /* flex-grow: 1; */
    padding: 0 1rem;
  }

  .footer__desc {
    flex-grow: 3;
  }
}
